body{
    background-color:black;
    width: 100%;
    height: 700px;
    margin:0px;
    padding: 0px;
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
     
}

.cabecalho{
    background-color: black ;
    width: 100%;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:0.5px solid black;
    font-weight: bold;
    display:flow-root;
    position: fixed;

}

.cabecalho ul{
    margin-top:0px;
    list-style: none;
    margin-right: 5%;
    float: right;
}

.cabecalho ul li{
    float: left;
    width: 100px;
    height: 38px;
    margin-top: 25px;
    padding-bottom: 5px;
    text-align: center;
}

.cabecalho ul li:hover{
    border-bottom: 3px solid black;
}
.cabecalho ul a{
    text-decoration: none;
    color:black;
    position: inline-block;
}

.logo-menu{
    margin-left: 5%;
    float: left;
}

.menu-login a:link{
	color: white;
	
}

.menu-login a:visited{
	color: white;
}

.neon{
	text-align: center;
	color: #black;
	text-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;
}

.img{
	width: 600px;
   height: 400px;
   background-color: #000;
   color: #FFF;

   border-radius: 50%;

}

.img2{
	width: 600px;
   height: 400px;
   background-color: #000;
   color: #FFF;


}

.fiel{
	border-style: ridge;
	border-color: #9B30FF;
	border-width: 5px;
width:400px;
height:500x;
text-align: left;


	
}


.rodape{
    width: 100%;
    height: 30px;
    color:white;
    background-color: black;
    bottom:0;
    padding-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    position: fixed;
	
  
    
}

.conteudo{
    text-align: justify;
    font-family: 'tahoma', sans-serif;
    color: white;
    
}
.adm{
    border-style: solid;
	border-color: #9B30FF; 
	border-width: 2px; 
	padding: 2px; 
	-moz-box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;
	-webkit-box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;;
}

.ads{
border-style: solid;
	border-color: #9B30FF; 
	border-width: 2px; 
	padding: 2px; 
	-moz-box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;
	-webkit-box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;;
}

.bd{
border-style: solid;
	border-color: #9B30FF; 
	border-width: 2px; 
	padding: 2px; 
	-moz-box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;
	-webkit-box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;;
}

.si{
border-style: solid;
	border-color: #9B30FF; 
	border-width: 2px; 
	padding: 2px; 
	-moz-box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;
	-webkit-box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;;
}

.curso{

	
	border-style: solid;
	border-color: #9B30FF; 
	border-width: 2px; 
	padding: 2px; 
	-moz-box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;
	-webkit-box-shadow:  0 0 5px #fff, 0 0 10px #fff, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px  #9B30FF, 0 0 20px #9B30FF, 0 0 20px  #9B30FF;;
}




.field{
    border:2px groove #8470FF /* Border width, style and colour*/
}


 







 
